Dockerfile
.dockerignore
.git
.gitignore
.gitattributes
.gitlab-ci.yml
README.md
.npmrc
.prettierignore
.prettierrc
.eslint.config.js
.eslintrc.cjs
.graphqlrc
.editorconfig
.svelte-kit
.vscode
node_modules
build
package
playwright.config.ts
**/.env